body {
    background: #f0f0f0;
}

#container {
    width: 960px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0,0,0,.2);
    background: #fff;
}

#wrapper {
    text-align: center;
}

#tooltip {
    background: rgba(0,0,0,0.6);
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, .5);
    font-size: 12px;
    position: absolute;
    top: 50px;
    display: none;
}